<div class="container ">

    <div class="container text-center">
        <h1>
            Add post
        </h1>
        <div class="!edited">
            <div class="form-group form-control border">
                <input 
                    type="text" 
                    class="form-control border w-25"  
                    id="title" name="title" 
                    placeholder="Enter Title Here" 
                    required
                    [(ngModel)]="currentPost.title"
                ><br>
                <input 
                    type="text" 
                    class="form-control border w-25"  
                    id="subtitle" name="subtitle"
                    placeholder="Enter Caption Here" 
                    required
                    [(ngModel)]="currentPost.subtitle"
                ><br>
                <input 
                    type="text" 
                    class="form-control border w-50"  
                    id="img" name="img" 
                    placeholder="image url here" 
                    required
                    [(ngModel)]="currentPost.img"
                >
                <br>
                <br>
                <div class="form-group form-control border">
                    <editor [(ngModel)]="currentPost.description"
                        apiKey="jjy2utbku66m5m9sv8rzb6fbymtaek77vuqjl4l0sfaz31g0" 
                        [init]="{plugins: 'link'}">
                    </editor>
                </div>
                <button (click)="Update()" class="btn btn-success">Submit</button>

            </div>

            <div *ngIf="edited">
                <h4>Post updated sucessfully</h4>
            </div>

        </div>

    </div>

</div>